body {
  margin: 0;
  width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  padding: 100px 50px;

  .backgroundPhoto {
    background-color: var(--darkBlue);
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
